[2020-05-01 09:15] gigobyte opened #7 "Design notes"
#### Typebox and response validation

Looking at [Building robust Amazon MWS applications](http://docs.developer.amazonservices.com/en_IN/dev_guide/DG_BuildingRobustApps.html) it might not be the best idea to validate the response from the API. To quote from the Best Practices section: "_Don’t code your client applications to expect only certain elements, fields, and values._"

Another quote regar

[2020-05-03 06:11] moltar opened #12 "Failing live requests"
Create an integration test that runs against live API.

Seems like there is a failure. I think it might be with query sorting?

This is how MWS Scratchpad runs the query:

[code]

And this is how we do it:

[code]

You can actually try the scratchpad, even if you don't have the credentials:

https://mws.amazonservices.ca/scratchpad/index.html

Just put `x` in all of the auth params. The query will

[2020-05-03 10:45] #7 closed, assigned to moltar

[2020-05-03 13:44] #12 closed, assigned to gigobyte

[2020-05-08 05:11] moltar opened #20 "Enable matrix testing before going live"
I disabled matrix testing in CI to speed up the dev cycle and save on GitHub Actions costs in 8e1e13b.

Need to enable it pack once the project settles a little bit.

[2020-05-10 06:25] moltar opened #24 "Add yourself as author"
Please add yourself as author to:

* `README.md`
* `package.json`

[2020-05-10 06:30] moltar opened #25 "Add docs"
Please add docs for usage and code examples.

For now, I think we should just put everything in one long `README.md` file.

And for API docs we should use `typedoc` which will automatically build and use `README.md` as an entrypoint.

Docs would be hosted on Netlify -- I'll set that up in CI.

We don't have to address this issue right away, the target is before release. I understand that API maybe

[2020-05-15 15:16] gigobyte opened #30 "Support latest TypeScript features"
Currently with our tsconfig, we don't support the new operators from TS 3.7 (`?.` and `??`)

[code]

[2020-05-15 15:42] moltar commented on #30
Yeah, I don't think Jest supports this yet. But I am not sure. I have ran into this before myself, and I just didn't use that feature yet.

Do you know how to solve this?

[2020-05-15 15:53] gigobyte commented on #30
https://github.com/kulshekhar/ts-jest/issues/1405

Could be this.

[2020-05-16 07:26] moltar commented on #30
@gigobyte do you want to try this fix?

[2020-05-16 09:30] gigobyte commented on #30
@moltar The problem is that `@scaleleap/utils` is not visible to me and the tsconfig is there, that's why I made this issue.

[2020-05-16 09:50] moltar commented on #30
Not sure what it has to do with `@scaleleap/utils` though?

[2020-05-16 10:52] gigobyte commented on #30
This is not a jest issue, but a TS issue:
https://stackoverflow.com/questions/58725711/how-to-get-optional-chaining-working-in-typescript
https://github.com/kulshekhar/ts-jest/issues/1283#issuecomment-572412196

[2020-05-16 10:56] moltar commented on #30
But we can override the target, right? Just change the `tsconfig` and set it to `2020` if that is what works.

[2020-05-16 11:32] gigobyte commented on #30
Sure, just figured you might want to do that for all projects. I'll make a PR in a minute.

[2020-05-16 11:42] moltar commented on #30
I might, if it works.

But I am not the author of the `tsconfigs` package, so I can't really alter that universally.

But if this does work, I'll raise an issue there.

[2020-05-16 11:51] #30 closed

[2020-05-16 11:51] #24 closed

[2020-05-19 05:01] justinemmanuelmercado opened #40 "ListOrdersByNextToken only needs NextToken as a parameter"
https://github.com/ScaleLeap/amazon-mws-api-sdk/blob/e1fd605b8ebd6d647ff32f61bf4c0e67aafdf62e/src/sections/orders.ts#L341-L353

`ListOrdersByNextToken` is attaching too many parameters but MWS docs only lists NextToken as parameter

http://docs.developer.amazonservices.com/en_CA/orders-2013-09-01/Orders_ListOrdersByNextToken.html

[2020-05-19 06:45] gigobyte commented on #40
You are correct, we don't need those params. Feel free to remove the argument and the `...spread` in the request.

[2020-05-20 01:52] #40 closed

[2020-05-20 08:43] justinemmanuelmercado opened #46 "cleanParameters does not work for product.GetMyFeesEstimate"
clean parameters currently only works for strings and array of strings but [GetMyFeesEstimate's parameters](http://docs.developer.amazonservices.com/en_CA/products/Products_GetMyFeesEstimate.html) consist of a list of [FeesEstimateRequest](http://docs.developer.amazonservices.com/en_CA/products/Products_Datatypes.html#FeesEstimateRequest).

I can modify how parameters are cleaned to accomodate thi

[2020-05-20 09:12] justinemmanuelmercado commented on #46
Also shouldn't this https://github.com/ScaleLeap/amazon-mws-api-sdk/blob/93479071112dd7beba069ca13e81eee93f8e4257/src/http.ts#L143

be

[code]

Because as of now, currently running

[code]

through `cleanParameters` yields

[code]

instead of what I think should be

[code]

@gigobyte Sorry if I'm misunderstanding anything

[2020-05-20 11:32] moltar commented on #46
Yes, this is right!

Please do a fix of this and create a test for that.

[2020-05-21 12:36] #46 closed

[2020-05-21 14:35] justinemmanuelmercado opened #49 "Inconsistencies with what's in Amazon's docs with their sample responses"
For example

In docs the name of the prop is `IncludedFeeDetailList`

<img width="1003" alt="Screen Shot 2020-05-21 at 10 25 09 PM" src="https://user-images.githubusercontent.com/15125483/82568936-1fe7f280-9bb2-11ea-9e26-215ca098b2c0.png">

But the examples have it as just `IncludedFeeList`

[IncludedFeeList in "Example response (Success)"](http://docs.developer.amazonservices.com/en_CA/products/P

[2020-05-21 14:37] justinemmanuelmercado commented on #49
@moltar My question is how should I approach this? Build around the XML or the docs

[2020-05-21 14:58] justinemmanuelmercado opened #50 "How do I go about implementing circular interfaces with purify-ts?"
Specifically for this line, it needs a reference to itself.

https://github.com/ScaleLeap/amazon-mws-api-sdk/blob/ee978e0955a6b127d02e836d96b9a8f9a9f1c2dd/src/sections/products.ts#L142-L143

I've tried using lazy like this

[code]

But typescript nags me about `FeeDetail` the interface not being equal to what's beeing calculated by `Codec`

Any help appreciated, @gigobyte

[2020-05-21 15:13] gigobyte commented on #50
Try putting the lazy codec last:
[code]

[2020-05-21 15:21] moltar commented on #49
Did you check how other libraries are handling this?

[2020-05-21 15:21] justinemmanuelmercado commented on #50
TS is complaining :/
[code]
Any ideas? If none, it's probably alright as an unknown array. Since Amazon's own API doesn't seem to follow the docs itself. Thanks for the help!

[2020-05-21 15:27] justinemmanuelmercado commented on #49
Ooh that's a good a point, I should've thought of that earlier. Thanks!

[2020-05-21 15:43] gigobyte commented on #50
Your interface is wrong though, it says `IncludedFeeDetailList?: FeeDetail` but the codec is `IncludedFeeDetailList?: FeeDetail[]`, as mentioned in the error you posted. That is because of `ensureArray`.

[2020-05-22 00:41] justinemmanuelmercado commented on #50
Ohh yeah you're right! I don't know why I didn't see that earlier.

TS still complained after though so I just copy pasted whatever was in the error and weirdly enough this is what worked for TS

[code]

If I tried replacing `TaxAmount: MoneyType | undefined` with `TaxAmount?: MoneyType` TS complained that they weren't equal.

Here's the commit to the fix if you're interested https://github.com/Sc

[2020-05-22 00:41] #50 closed

[2020-05-22 00:47] #49 closed

[2020-06-02 06:41] justinemmanuelmercado opened #65 "Product ASINs and SKUs for integration tests"

[2020-06-02 10:21] moltar commented on #65
I think we have products now, will close it now.

[2020-06-02 10:21] #65 closed

[2020-06-03 14:05] justinemmanuelmercado opened #68 "Add interface to require only one of two (or more) properties to exist"
http://docs.developer.amazonservices.com/en_CA/fba_inventory/FBAInventory_ListInventorySupply.html

APIs like above have a clause in their parameters like

[code]
there's another API with the same parameter requirement but I forgot which. Will need to review docs of currently implemented APIs

 Small change but still a DX improvement

[2020-06-03 14:06] justinemmanuelmercado commented on #68
relevant: https://stackoverflow.com/questions/40510611/typescript-interface-require-one-of-two-properties-to-exist

[2020-06-04 05:58] moltar commented on #68
Yeah, good call!

[2020-06-04 14:47] moltar opened #69 "Convert string dates to Date objects"
The `quotaResetOn` and `timestamp` should be `Date` objects.

https://github.com/ScaleLeap/amazon-mws-api-sdk/blob/944cd768558468d2952c49fa39bb21d2b4e3582f/src/http.ts#L120-L124

[2020-06-05 09:17] #69 closed

[2020-06-05 09:17] #68 closed

[2020-06-11 08:08] moltar opened #76 "Abstract HttpClient creation into a factory function"
The following code is repeated in every integration test:

https://github.com/ScaleLeap/amazon-mws-api-sdk/blob/a4d27a3e44e01a9dd05571ec04d4bb03265592eb/test/integration/orders.test.ts#L7-L15

We should probably just have it abstracted into a function into a separate file.

[2020-06-11 08:10] justinemmanuelmercado commented on #76
Good point, will fit it in

[2020-06-15 06:26] #76 closed

[2020-06-15 06:28] justinemmanuelmercado opened #81 "Update types with Amazon's official SDK"
_Originally posted by @moltar in https://github.com/ScaleLeap/amazon-mws-api-sdk/pull/73_

[2020-06-15 11:23] justinemmanuelmercado opened #86 "Repeated code in unit tests"
https://github.com/ScaleLeap/amazon-mws-api-sdk/blob/ebd71987f841c4f8e218d84046d030582fbb5577/test/unit/orders.test.ts#L6-L20

https://github.com/ScaleLeap/amazon-mws-api-sdk/blob/ebd71987f841c4f8e218d84046d030582fbb5577/test/unit/orders.test.ts#L67-L74

[2020-06-15 11:34] #81 closed

[2020-06-22 08:22] moltar opened #96 "Expose all parameter types"
I think it'd be useful to expose the method parameter types, so that parameters can be build outside of the method call and be typed.

E.g. I am creating a subscription and then subscribing to it. There are the same parameters, but they need to be repeated:

https://github.com/ScaleLeap/amazon-mws-api-sdk/blob/a1e5c8b1f33a7ed7a159a0dcdb1a92b4ecf3720e/test/integration/subscriptions.test.ts#L26

If

[2020-06-22 08:28] justinemmanuelmercado commented on #96
They're exported here.

https://github.com/ScaleLeap/amazon-mws-api-sdk/blob/a1e5c8b1f33a7ed7a159a0dcdb1a92b4ecf3720e/src/sections/subscriptions.ts#L13-L20

But you may be referring to exposing them another way. Let me know if you think there's a better way to expose them to be usable for the users

[2020-06-22 08:39] moltar commented on #96
Ah, yeah, missed that part. Certainly useful.

But I was thinking more like the whole parameter interface and all of the underlying parts need to be exposed.

Like in my example, if I just want to have a destination hard coded somewhere once, and it be type checked, it is not currently possible.

[2020-06-22 08:41] justinemmanuelmercado commented on #96
Ahh so you mean exposing something like `export interface Destination {...}`?

[2020-06-22 08:43] justinemmanuelmercado commented on #96
I can push something like that, have you review it and if approved I'll create the issue to apply it to other sections where it could be a useful change

[2020-06-22 09:29] moltar commented on #96
Ya for all method parameter interfaces, even the inner ones, where makes sense.

[2020-06-22 11:51] #96 closed

[2020-06-22 11:58] #86 closed

[2020-06-22 12:00] moltar commented on #25
@justinemmanuelmercado don't worry about `typedoc` yet. But please create some basic usage examples and maybe an `examples/` dir with more some basic use cases for now.

[2020-06-23 01:41] moltar opened #101 "Fix API Extractor warnings"
API Extractor has many warnings about types not being exported. I think we want them all to be exported.

To get the list of warnings:

[code]

[2020-06-25 07:53] #101 closed

[2020-06-25 08:18] justinemmanuelmercado opened #108 "GetFeedSubmissionResult returns XML string"
Re: https://github.com/ScaleLeap/amazon-mws-api-sdk/pull/100#discussion_r445363150

[2020-06-30 08:51] #25 closed

[2020-07-06 02:00] moltar opened #122 "Remove ajv dep"
We don't seem to be actually using it, I think.

If not, let's get rid of it then.

Thanks.

[2020-07-06 07:12] justinemmanuelmercado commented on #122
Looks like it's being used here https://github.com/ScaleLeap/amazon-mws-api-sdk/blob/6d627b1a3e4b52def89d87eacf9c026c07a97c73/test/unit/parsing.test.ts#L57-L66

[2020-07-06 07:12] #122 closed

[2020-07-10 16:35] renovate[bot] opened #129 "Dependency Dashboard"
This issue contains a list of Renovate updates and their statuses.

## Rate Limited

These updates are currently rate limited. Click on a checkbox below to force their creation now.

 - [ ] chore(deps): update dependency @types/jest to v27

## Edited/Blocked

These updates have been manually edited so Renovate will no longer make changes. To discard all commits and start over, click on a checkbox.

[2020-07-11 03:05] moltar commented on #129
Seems like @renovate-bot went insane? Most of these deps aren't part of this project, or even in the tree of any deps.

[2020-07-12 04:59] justinemmanuelmercado commented on #129
Saw it too. This is weird, was this ever resolved? Didn't read into it too much yet

[2020-07-12 05:18] moltar commented on #129
Sent a support a request. Waiting.

[2020-07-15 08:13] justinemmanuelmercado opened #132 "Some dates are returned as string"
Some endpoints (`FulfillmentInboundShipment.InboundShipmentInfo` for example) have dates returned in the format `YYYY-MM-DD` without a timezone

Note: C# returns type `String` for these types of values

[2020-07-16 03:15] #20 closed

[2020-07-22 01:34] moltar opened #139 "(canonicalized as any) - can we avoid any here?"
In `test/unit/fulfillment-inbound-shipment.test.ts` -- getting lint warnings. If we can refactor to get rid of `any` - that'd be great, but if we accept is as inevitable, then we should `eslint-ignore` it.

[2020-07-22 01:40] moltar opened #140 "Try / benchmark other XML parsers"
See if there are other XML parser libraries that would be easy to swap without too much change.

If we can do that, then lets try them out and see if we they are faster than the current one.

We can test, for example, by running the test suite 3 times and averaging out the time it took.

[2020-07-22 02:42] justinemmanuelmercado commented on #139
Yeah this can be fixed. This was my bad for assuming that since it's an internal type I didn't need to explicitly define its output. It's one of those long and complicated request objects. I'll get on it :+1:

[2020-07-22 07:12] moltar commented on #129
Confirmed that this was a bug. Closing.

Ref: https://github.com/renovatebot/app-support/issues/68#issuecomment-662279574

[2020-07-22 09:56] #139 closed

[2020-07-23 11:02] justinemmanuelmercado commented on #140
Should I close this now or is there another library you had in mind? I've got this list of other libraries that could possibly work but all of them have their own issues

1. https://github.com/segmentio/xml-parser - not updated in 5y
2. https://github.com/assistunion/xml-stream - not updated in 4y
3. https://github.com/libxmljs/libxmljs - does not have xml -> json out of the box
4. https://github.

[2020-07-23 11:04] justinemmanuelmercado opened #146 "Handle attributes on some XML tags"
For reference: https://github.com/ScaleLeap/amazon-mws-api-sdk/pull/142#issuecomment-662388533

[2020-07-23 12:30] justinemmanuelmercado opened #148 "XML validation and HTML entities (i.e. &quot, &amp)"
`xml2js` has the nice feature of validating the xml before parsing, I think this can configured using FXP

`xml2js` automatically converts HTML entites into their string counterpart (i.e. `&quot` becomes `//"`, `&amp` becomes `&`)

[2020-07-23 13:45] moltar commented on #140
None of these libs seems as contenders as they are quite outdated, especially in JS years. But good research none the less. I think with the discovered settings and the #147 PR I see no reason to switch.

[2020-07-23 13:51] #146 closed

[2020-07-23 13:54] #140 closed

[2020-07-24 06:54] justinemmanuelmercado opened #150 "Unit tests offer insufficient test coverage after activating XML validation in FXP library"
Previous unit tests covered these types of lines  https://github.com/ScaleLeap/amazon-mws-api-sdk/blob/8bcf3013ef03b4d4880d478781e0e49682f2f714/src/sections/feeds.ts#L219-L221 by passing an invalid XML string in the request.

But it is now being covered by FXPs validation and what happens in the unit tests now is that invalid XMLs get thrown before it passes `purify-ts`'s decode, which mean unit t

[2020-07-24 13:17] #150 closed

[2020-07-29 03:32] #148 closed

[2020-07-29 03:42] moltar opened #156 "Improve on-boarding experience for contributors"
We need to improve contributor workflow, as some of our things might be a bit unusual.

* [x] Add `CONTRIBUTORS.md` (look at other projects for ideas)
* [x] Add a link to `CONTRIBUTORS.md` from `README.md`
* [x] Add steps on how to set up the development environment (some ideas can come from a comment in #155)
* [x] Mention use of PollyJS and recordings
* [ ] Figure out a better way to handle inte

[2020-07-29 03:56] moltar commented on #132
For references, I've asked a clarifying question on the MWS forums, but yet to receive any answers.

https://sellercentral.amazon.com/forums/t/dates-are-floating-in-merchant-fulfillment-geteligibleshippingservices/655569/2

[2020-07-29 12:41] justinemmanuelmercado opened #158 "Take a second look at the Product type in the Products section"
@moltar I remember not developing the `Product` type because it wasn't completely defined in the Amazon docs, but looking at the C# library, at first glance it looks like it's completely defined though, that may mean that it's possible to define the product based solely on the C# library's code. I'm thinking I'll give it another shot in another PR.

[2020-07-30 07:44] moltar commented on #158
Do you have a reference to that? What does it mean "complete defined"? I know that products have different attributes and it is quite dynamic based on a category. And there are thousands of combinations. Defining them all might be a massive task.

[2020-07-30 08:47] justinemmanuelmercado commented on #158
Sorry, yeah I definitely didn't mean completely defined as in everything but all of the possible attributes under `Product`. The docs at least define that the type of `Product` used in each request as something like `"Contains two of the sub-elements of the Product element"` which I'm thinking mean that `Product` has these possible sub-elements (the C# library has 7) and each request has the same

[2020-08-04 21:40] mvd7793 opened #169 "Amazon doesn’t detect calls from this SDK when accounting for inactivity"
Hello! This is a bit of a funky report, and I don’t have a clear answer for the cause just yet. :)

My MWS account was activated on 7/22. The next day I received a ticket that my account would be shut down in 30d for no activity within 60d. I made a test call with this library, received a successful response, and figured that would be the end of it.... but Amazon replied to my ticket and said they

[2020-08-04 23:33] moltar commented on #169
Hi Matthew,

This all sounds very strange.

Do you mind sharing your code?

Thank you.

[2020-08-04 23:39] moltar commented on #169
Also, to help Amazon support to track down a request, you may want to include the request ID from the metadata response object (second in the response tuple).

Docs: https://github.com/ScaleLeap/amazon-mws-api-sdk/tree/master/docs#request-metadata

[2020-08-06 19:47] #158 closed

[2020-08-06 19:47] #156 closed

[2020-08-07 23:54] mvd7793 commented on #169
Thanks for the update. Completely agree this generally makes no sense. :) Unfortunately I don't have an answer.

I expected the ScaleLeap API to be sending XML so I could compare directly, but it seemed like that's not quite what was happening. Here are the requests:

Amazon's library:
[code]

ScaleLeap Library:
[code]
Sadly no obvious differences. :(

and here's my ScaleLeap code:
[code]

If no o

[2020-08-08 02:02] moltar opened #170 "User agent version should be dynamic"
We should read, and extract it from the `package.json` file.

https://github.com/ScaleLeap/amazon-mws-api-sdk/blob/9484296ef72fa86af504d34d0c1f529587a96092/src/http.ts#L389

Be careful though, and make sure to use relative paths. Because the distributed code will end up in `lib/`, while source is in `src/`.

[2020-08-08 02:07] moltar commented on #169
That is very peculiar that their own library goes against the docs, which provide the `GET` query request approach, and not the `POST` XML  approach.

@justinemmanuelmercado can you please take a look at this, and see if the other libraries (C#, PHP) use the query or XML post approach?

@mvd7793 btw, we also do set the `user-agent` header, and the value is `@scaleleap/amazon-mws-api-sdk/1.0.0 (Lan

[2020-08-08 02:15] moltar opened #171 "Prefix or suffix all error classes"
https://github.com/ScaleLeap/amazon-mws-api-sdk/blob/9484296ef72fa86af504d34d0c1f529587a96092/src/error.ts#L22-L67

I think it would be better to standardize the error class names to something like:

[code]

Or

[code]

But I am open to other naming suggestions.

This would help discoverability of them when consuming the library.

We can also export them as a group:

[code]

[2020-08-08 02:19] moltar commented on #108
Maybe we can have a method parameter that defines which format to return?

Example:

[code]

I think this would help users to get the native JS object, and save them from installing a library to convert from XML to JS. As I doubt anyone would be processing XML in JS in any other way than to convert to JSON first.

JSON should probably be the default option too.

What do you think?

[2020-08-08 17:48] mvd7793 commented on #169
Yep- the calls themselves all work fine. No errors or anything else different. Will keep filling any inconsistencies I find.

[2020-08-10 13:01] justinemmanuelmercado commented on #171
Sure this sounds good. I prefer this naming scheme`ClassNameError`. I should leave general errors as is right?

[2020-08-10 13:08] justinemmanuelmercado commented on #170
This may be a stupid question, first time I've extracted something from `package.json` to be used in code, but you meant something like this right?

[code]

[2020-08-11 08:32] moltar commented on #170
This does work in development, but when you go build the project, you'll see that in `lib/` now the folder structure has changed due to `package.json` being included. A better approach would be to read the file using the `fs` built in module. Then parse it with `JSON.parse`.

[2020-08-11 08:32] moltar commented on #171
What do you mean by that?

[2020-08-11 08:35] justinemmanuelmercado commented on #170
Ahh alright now I see what you meant, didn't understand it at first. Will check it out

[2020-08-11 08:38] justinemmanuelmercado commented on #171
[code]

There are these general errors, do I just leave their names as is?

[2020-08-11 08:42] moltar commented on #171
I think they all need an Error suffix?

Any thoughts against that?

[2020-08-11 08:47] justinemmanuelmercado commented on #171
Oh I misunderstood what you meant! When you said **ClassNameError** I thought you meant to include the class name where they're from before the error i.e.
`ResourceNotFound` => `EasyShipResourceNotFound`

This makes much more sense! 😅

[2020-08-11 08:48] moltar commented on #171
:+1: 😁

[2020-08-11 11:52] justinemmanuelmercado commented on #108
Do you think this can be closed now? I get now why you wanted to open this in the first place. I initially thought you wanted to open this issue to make a mental note that the return for this API is different than the rest

[2020-08-11 12:29] moltar commented on #108
Ya seems like this is done! ✅

[2020-08-11 12:29] #108 closed

[2020-08-11 13:01] justinemmanuelmercado commented on #171
Closed the wrong issue

[2020-08-13 21:08] #170 closed

[2020-08-14 02:39] #171 closed

[2020-10-25 03:37] mvd7793 opened #232 "Invalid type on seller order ID"
[code]

Filing this as an issue instead of a PR since I'm assuming the fix you want is different than the one I know how to send. :D (from the previous PR on ASINs).  Thanks!

[2020-10-25 03:41] moltar commented on #232
Thank you @mvd7793 for the report.

@justinemmanuelmercado Can you please take a look at this. Thank you.

[2020-10-26 04:07] #232 closed

[2020-10-28 14:42] Stevenje opened #234 "Selling Partner API (SP-API) Support"
Hey Guys,

Great work on everything, quick question are there plans to switch over to the [Selling Partner API](https://developer.amazonservices.com/) in the near future?

[2020-10-28 14:51] moltar commented on #234
No plans to switch as these are different APIs. But I'm considering building a separate package. Maybe codegen from the OpenAPI specs. But I didn't look at it closely yet.

[2020-10-28 15:31] Stevenje commented on #234
@moltar That would be great. Do you plan on having a look within the coming weeks?

Otherwise I'll probably develop my tool using MWS in the interim.

[2020-10-28 20:23] ericblade commented on #234
Hello!  Also a MWS library author, thanks for pointing me to this, @Stevenje .  I'll definitely be looking into it, and would love to network with anyone else who's also taking a look.  I like to be at the fore of new things, when possible, so ...

I've just skimmed over the intro pages, and i'm seeing that they're only providing Java and C# libs, so there's definitely a gap there.  Would love to

[2020-10-29 06:03] moltar commented on #234
@Stevenje don't have a concrete plan yet, but it won't be within a couple of weeks for sure.

[2020-10-30 12:48] Stevenje commented on #234
@moltar No worries, thanks for letting me know!

[2020-11-08 11:37] moltar commented on #169
Closing this as it is not actionable for time being. Feel free to add comments if you find anything else related to this and we can re-open.

[2020-11-08 11:37] #169 closed

[2020-11-08 11:38] #234 closed

[2020-11-12 20:11] konradgorski opened #243 "codec decoding issues in finances module"
Receiving a parse error when querying a record by amazon order id through the `Finances.listFinancialEvents`.

`ParsingError: Problem with the value of property "ListFinancialEventsResponse": Problem with the value of property "ListFinancialEventsResult": Problem with the value of property "FinancialEvents": Problem with the value of property "ShipmentEventList": One of the following problems occu

[2020-11-12 23:47] moltar commented on #243
@konradgorski thank you for the report. It seems to be that the docs are potentially wrong. I have fixed this by changing the case `s/Giftwrap/GiftWrap/`.

[2020-11-12 23:49] #243 closed

[2020-11-20 23:04] konradgorski opened #251 "codec decoding issues in finances module - ListFinancialEventsResponse"
Receiving a parse error when querying a record by amazon order id through the Finances.listFinancialEvents.

`ParsingError: Problem with the value of property "ListFinancialEventsResponse": Problem with the value of property "ListFinancialEventsResult": Problem with the value of property "FinancialEvents": Problem with the value of property "AdjustmentEventList": One of the following problems occu

[2020-11-20 23:05] konradgorski commented on #251
[PR-250](https://github.com/ScaleLeap/amazon-mws-api-sdk/pull/250) should resolve this.

[2020-11-21 01:31] moltar opened #252 "Skip integration tests for PRs"
Integration tests require secrets, which are not available for PR tests.

We want to skip the integration tests for PRs.

[2020-11-21 01:33] moltar commented on #251
Thanks @konradgorski! PRs are merged.

[2020-11-21 01:33] #251 closed

[2020-12-04 08:12] mvd7793 opened #262 "Invalid type for numerical ASIN"
In a similar vein to the past issues, actual ASIN removed:

[code]

[2020-12-04 08:24] mvd7793 commented on #262
SellerInputIdentifier on the same object (FeesEstimateIdentifier) also needs to be updated.

I looked at your last PR for a similar issue with `ensureString` and applied the change locally which worked. I can send a PR in the next few days if you don't hit it first. :)

[2020-12-04 08:37] moltar commented on #262
@mvd7793 sure, a PR would be appreciated :) Thanks!

[2020-12-23 11:18] #262 closed

[2021-01-21 13:12] renovate[bot] opened #291 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Error type: Cannot find preset's package (github>whitesource/merge-confidence:beta)

[2021-01-24 03:24] mvd7793 opened #293 "PaymentMethodDetails isn't mandatory"
Error from prod usage:
[code]

Looks like a replacement order doesn't have PaymentMethodDetails which causes an error.

[2021-01-25 12:43] moltar commented on #293
@mvd7793 can you submit a PR please? I'll approve it promptly. Otherwise will get it done next week.

[2021-01-25 12:44] moltar commented on #293
If you provide a PR, please use `fix: ` prefix in your commit, which will trigger a release.

[2021-02-01 07:28] #293 closed

[2021-03-02 15:25] muhammadali7768 opened #320 "InputDataError on getReport"
i am trying to get the `_RFQD_BULK_DOWNLOAD_` type report using the getReport() method.
[code]
i tried different report types but i am getting the **InputDataError** for all types.
[code]

[2021-03-02 15:40] moltar commented on #320
Please take a look at the docs for the correct invocation signature.

[2021-03-02 15:42] moltar commented on #320
Oops looks like the docs are wrong. Will look into this tomorrow.

[2021-03-02 16:42] muhammadali7768 commented on #320
When i try like this
`
  const [response] = await reports.getReport("27533305591018684")`

i am getting this error
request error <?xml version="1.0"?>
`<ErrorResponse xmlns="http://mws.amazonaws.com/doc/2009-01-01/"><Error><Type>Sender</Type><Code>MissingParameter</Code><Message>The request must contain the parameter ReportId.</Message><Detail/></Error><RequestID>40ac08f4-7c91-409c-9e62-3aa179d61d

[2021-03-03 00:45] moltar commented on #320
Are you sure you are using the right `ReportId` value? There are [quite a few reports](https://sellercentral.amazon.com/forums/search?q=InputDataError) of the same issue on the support forums.

We have an integration test for this call and it seems to work fine. I am not saying this is not a bug, it might as well still be. But I am just pointing out some hints that maybe you can use to debug this,

[2021-03-03 03:53] muhammadali7768 commented on #320
I am passing the `GeneratedReportId` value to getReport.
[code]

[2021-03-03 06:01] moltar commented on #320
I just added some docs for MITM proxy: https://github.com/ScaleLeap/amazon-mws-api-sdk/blob/master/CONTRIBUTING.md#debugging-using-a-mitm-proxy

Please do that to inspect the HTTP traffic and see what is being returned.

Please post the response HTTP headers here.

And let me know if the response is binary.

[2021-03-04 03:08] muhammadali7768 commented on #320
These are the request and response headers.

![mmexport1614802497032](https://user-images.githubusercontent.com/34996563/109905423-93ca3600-7cc0-11eb-8e09-0b8ad90bd1a0.jpg)

**Response:**
![mmexport1614802507072](https://user-images.githubusercontent.com/34996563/109905441-99278080-7cc0-11eb-91b0-a12364781acc.jpg)

[2021-03-04 03:29] moltar commented on #320
Ok, great, thanks. That looks fine to me.

What about the request body itself? Can you please add that here as well?

Thanks.

[2021-03-04 08:37] muhammadali7768 commented on #320
Thanks for pointing me in the right direction and your quick responses. When i checked the request body, the MWSAuthToken was set to undefined. I set the **MWSAuthToken** to correct value, now i am getting the .xlsx file in response. But i am unable to get the correct .xlsx file.
This the response after setting the **MWSAuthToken** correctly.
![Screenshot from 2021-03-04 13-03-21](https://user-ima

[2021-03-04 10:13] moltar commented on #320
I am glad the original issue was solved.

Unfortunately I am not familiar with the library you are using for XLS management and cannot help.

I will close the issue, as the original issue seems to be solved.

[2021-03-04 10:13] #320 closed

[2021-03-17 12:42] muhammadali7768 opened #327 "Getting incorrect reportId's using getReportList method"
I am trying to get the list of reports using **getReportList** method.
Then passing the reportId to getReport() but I am getting the **InputDataError** for some reportIds.
When I inspected the **getReportList** response using **mitmproxy**, I noticed that some of the ReportId's are different from the reportIds which i am getting on the client side, for the same **ReportRequestId**.

**The response

[2021-03-18 00:27] moltar commented on #327
I don't think these are from the same request, because even the time stamps are different. We don't modify the data, just parse it.

[2021-03-18 08:06] muhammadali7768 commented on #327
i console the response before parsing in the **node_modules/@scaleleap/amazon-mws-api-sdk/lib/http.js**. The ids are correct but after parsing the ids are changing.

[code]

I am getting the following output

[code]

This is the output after the parsing and ofcourse this is for the same request

[code]

[2021-03-19 05:28] moltar commented on #327
Thank you for your report. The issue shall be fixed in the next release in a few minutes.

[2021-03-19 05:31] #327 closed

[2021-03-19 05:33] moltar commented on #327
@muhammadali7768 shoot me an email please: roman@scaleleap.com

[2021-03-19 06:25] muhammadali7768 commented on #327
Thanks @moltar,  Now i am getting correct report ids.

[2021-03-31 01:09] github-actions[bot] opened #340 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `beta` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you can

[2021-04-02 05:11] #340 closed

[2021-04-28 14:54] RienNeVaPlus opened #360 "Enable FeedOptions parameter for submitFeed"
Hi,

Amazon requires) the `FeedOptions: string` parameter for submitting the `_UPLOAD_VAT_INVOICE_` feeds ([see docs](https://m.media-amazon.com/images/G/03/B2B/invoice-uploader-developer-documentation.pdf)).
However rn the parameter is not being sent to MWS.

Any chance `FeedOptions: string` can be added as a valid parameter to `SubmitFeedParameters`?

Thanks!

[2021-04-28 23:03] #360 closed

[2021-05-03 15:22] Roman991 opened #365 "[Orders] error when parsing data"
seems there's some problems when parsing orders json (or xml?).

#### error
[code]

#### \mws\lib\sections\orders.js:261:52)
[code]

#### json.stringify
[code]

the httpCliente returns the object with those 2 fields as numbers,
later I'll check also the http class

[2021-05-03 15:41] moltar commented on #365
Hi Roman, which version of the package are you using?

[2021-05-03 15:45] Roman991 commented on #365
Oh, Hi Roman! :)
I just installed it  ` "version": "1.9.47"`

[2021-05-03 16:06] #365 closed

[2021-05-03 16:31] Roman991 commented on #365
thanks, it worked.
But all fields under `ShippingAddress` should be fixed as strings.
Those fields are filled by customers, and they  somethimes know to be very creative:

[code]

That's why parsing by content on that fields should be off XD

https://docs.developer.amazonservices.com/en_US/orders-2013-09-01/Orders_Datatypes.html#Address
[code]

[2021-05-04 13:46] danielbebbernovacode opened #368 "[Bug] listInventorySupply is not supporting SellerSkus"
Hello,

While I was using the listInventorySupply API call I noticed that it is not possible to use the SellerSkus parameter.
I always get an error as response:
`<ErrorResponse xmlns="http://mws.amazonaws.com/FulfillmentInventory/2010-10-01/">
  <Error>
    <Type>Sender</Type>
    <Code>InvalidRequestException</Code>
    <Message>One of SellerSkus and QueryStartDateTime is required</Message>
  </E

[2021-05-04 15:00] moltar commented on #368
Yes, the example was wrong. But the implementation was correct.

It is `SellerSkus: string[]`

[2021-05-05 05:26] danielbebbernovacode commented on #368
Also tried it with `SellerSkus,` same result.

`  <Error>
    <Type>Sender</Type>
    <Code>InvalidRequestException</Code>
    <Message>One of SellerSkus and QueryStartDateTime is required</Message>
  </Error>
`

[2021-05-05 10:22] moltar commented on #368
Hopefully, #372 fixes it! Please test the next release (should be shortly after merge).

[2021-05-05 10:44] danielbebbernovacode commented on #368
The issue still persists. It seems like SellerSkus is totally ignored.

I tested to provide SellerSkus and QueryStartDateTime (which should result into an error) but it worked.
Only providing SellerSkus still results in the same rror.

[2021-05-11 08:18] danielbebbernovacode commented on #368
@moltar could you have a look at this issue again?

[2021-05-11 08:25] moltar commented on #368
@danielbebbernovacode please provide your request example

[2021-05-11 09:12] danielbebbernovacode commented on #368
[code]

I also get a correct response in scratchpad:

[code]

[2021-05-11 09:15] moltar commented on #368
Yeah, I found the bug for sure this time. I tested and the call works locally. Wait for the release shortly.

[2021-05-11 09:18] #368 closed

[2021-05-11 09:22] danielbebbernovacode commented on #368
Working fine! Thank you for fixing this issue so fast :)

[2021-07-23 08:09] IonicaBizau opened #411 "I am having trouble getting the examples working"
First of all, thank you for the wonderful library! ✨

However, I am trouble getting the authentication working.

Here is my current code:

[code]

I have been added as admin to an Amazon account and I have access to the developer dashboard and have created a security profile.

<img width="1433" alt="image" src="https://user-images.githubusercontent.com/2864371/126753837-ffdb3696-e1db-4b92-865a-14a

[2021-07-23 08:26] moltar commented on #411
This package is for MWS API (http://docs.developer.amazonservices.com/en_US/dev_guide/index.html).

Your screenshot shows an Amazon Developer console, which leads me to believe you are not using MWS.

Amazon Developer console at best can provide Amazon Advertising API credentials, but even then, you'd need to OAuth first, to get the tokens, before using them.

[2021-07-23 08:28] IonicaBizau commented on #411
@moltar Thanks for the quick reply! Is there any way to automate this and not need the OAuth steps, but instead getting some never-expiring tokens and set up the server script?

I asked this StackOverflow question and perhaps I haven't got the best answer: https://stackoverflow.com/q/68251611/1420197

[2021-07-23 08:49] moltar commented on #411
MWS API does not use OAuth.

Selling Partner API (for which we also have an SDK) uses OAuth, and you can self-authorize via the Amazon Seller Central Developer account.

[2021-07-23 08:50] moltar commented on #411
https://github.com/amzn/selling-partner-api-docs/blob/main/guides/en-US/developer-guide/SellingPartnerApiDeveloperGuide.md#self-authorization

[2021-07-23 10:52] IonicaBizau commented on #411
So, if we would like to use the MWS, where should we get the credentials from?

[2021-07-23 11:22] moltar commented on #411
I posted the docs link. Please go thru that.

Also I wouldn't build anything new on MWS as it's deprecated.

[2021-07-27 11:09] IonicaBizau commented on #411
@moltar Thank you! I will talk to the admins to sign up for the Selling Partner API and eventually will open issues in the other repository. Keep up the great work! ❇️

[2021-07-27 11:09] #411 closed

[2021-09-11 03:58] fny opened #417 "Offline Failure"
`.data` will not be available if the server loses connection to the internet or the MWS servers are down.

https://github.com/ScaleLeap/amazon-mws-api-sdk/blob/7ec26308606b7f48dc1dc089177a2509da4281ef/src/http.ts#L318

A few more cases are required to test for a failure.

[code]

[2021-09-11 04:07] moltar commented on #417
@fny Sure, looks about right. Please submit a PR, and we will merge. Thanks!

[2021-09-11 05:03] fny commented on #417
Do you all have any preference for what the return types should look like?

[2021-09-11 05:43] moltar commented on #417
Not sure what you mean.

Can you please provide a bit more context?

Thanks!

[2021-09-11 19:29] fny commented on #417
Right now you all have `Promise.reject(error.response.data)` as the returned value for the cases when the server responds with an error.

In the other two cases what do you want to return?

[code]

[2021-09-13 04:00] moltar commented on #417
I don't think there should be any return if there is an error. Throw a custom error object, if the error is specific and needs handling, or just re-throw the original error.

[2021-09-13 04:01] moltar commented on #417
We already have many error classes defined in: https://github.com/ScaleLeap/amazon-mws-api-sdk/blob/master/src/error.ts

[2021-09-18 00:47] fny opened #421 "GetFulfillmentOrder casts Seller Order Ids to Integers"
I have some order ids that are numbers (e.g. "23914352147") which fail when calling getFulfillmentOrder.

I think Amazon is responding with a number rather than a string which is causing the codec to choke. Still trying to figure out a patch, guidance is appreciated.

[code]

[2021-09-18 03:15] moltar commented on #421
Can you please confirm which version of the package you are using?

[2021-09-18 03:20] moltar commented on #421
Most likely need to add an entry here:

https://github.com/ScaleLeap/amazon-mws-api-sdk/blob/dd73a9bc9602a5a6fa0a96a2587c738eee5bba24/src/http.ts#L348

Please add a test case with some data.

Perhaps by editing one of the existing files for tests, and add a number-lile value:

https://github.com/ScaleLeap/amazon-mws-api-sdk/blob/58f39f25dfc43e2b222bf2bf0e7adc7d51f281ef/test/unit/__fixtures__/fulfi

[2021-09-18 03:20] moltar commented on #417
@fny have you tested this, can this be closed?

[2021-09-18 03:25] fny commented on #421
It's the latest version 1.9.56

There was some attempt to fix this within ensureString, but it didn't behave the way I thought it would. I'll try to get this fixed tonight. Thanks for being so responsive!

https://github.com/ScaleLeap/amazon-mws-api-sdk/blob/dd73a9bc9602a5a6fa0a96a2587c738eee5bba24/src/parsing.ts#L37

[2021-09-18 03:34] fny commented on #421
Quick q: do you know how to pin a module to a local version? I've tried the line below, and node keeps complaining it can't resolve `@scaleleap/amazon-mws-api-sdk`.

[code]

[2021-09-18 04:01] moltar commented on #421
Maybe it's because the original is in TS and node cannot find the built files.

Have you tried running `npm run build` in the mws package repo first? This should put the built files into `lib/`.

But you'll need to re-run it every time you make a change.

[2021-09-18 04:02] moltar commented on #421
Also, I found this useful before: https://github.com/wclr/yalc

[2021-09-18 04:39] #252 closed

[2021-09-18 04:52] fny commented on #421
I've solved it. The trick is to use the `ensureString` codec rather than the `string` codec wherever `SellerFulfillmentOrderId` is defined.

The core issue is that XML can't discriminate between a number or a string, so if anything looks remotely like a number, it will be parsed as such. You guys already picked up on this issue with things like postal code which likely broke for leading zeros:

[c

[2021-09-18 06:29] moltar commented on #421
I think you are totally right. But this is probably a massive change though. However, if you feel like doing this, I will certainly accept and merge the PR.

I have just done a lot of clean-up on the CI and test infra. It should be easier to submit PRs as tests will run properly without failure.

[2021-09-18 06:30] moltar commented on #421
A way to get to quick failure and iteration is probably flip the `parseNodeValue` flag and then see what fails during snapshot tests. Then go and fix that codec.

[2021-09-20 02:01] moltar commented on #421
Fixed in #422

[2021-09-20 02:01] #421 closed

[2021-10-10 01:01] fny opened #430 "FISWeight Enum isn't being parsed correctly"
Here's the error:

Here is the culprit:

https://github.com/ScaleLeap/amazon-mws-api-sdk/blob/cf612e1bb007b73e9ef4c2e50972c98abcb6fb2b/src/sections/fulfillment-outbound-shipment/type.ts#L52-L55

Not sure how to get enums working properly, but making FISWeight a string cleared up the issue. I tried to uppercase pounds in the enum but nothing changed.

[2021-10-10 03:28] moltar commented on #430
Looks like just a capitalization issue?

[2021-10-19 21:41] #291 closed

[2021-10-27 10:00] AlexanderGaivorontsev opened #447 "Problem with AdjustmentType"
Hi! I use your lib for working with Amazon. But I met this problem:
`Problem with the value of property "ListFinancialEventsByNextTokenResponse": Problem with the value of property "ListFinancialEventsByNextTokenResult": Problem with the value of property "FinancialEvents": Problem with the value of property "AdjustmentEventList": One of the following problems occured: (0) Problem with the value a

[2021-10-27 14:35] #447 closed, assigned to nobody

[2021-10-28 08:06] AlexanderGaivorontsev opened #450 "Lost datatypes"
Hi! I found some lost data types in the finances section. I created the PR: https://github.com/ScaleLeap/amazon-mws-api-sdk/pull/449

[2021-11-09 19:33] deni-skaraudio opened #466 "Get functions use incorrect http POST method"
Hi there,

First I appreciate your contribution and how easy this library is to use.

I want to point out at two issues with the following functions inside `FulfillmentInboundShipment` class:

- getPrepInstructionsForAsin
- getPrepInstructionsForSku

Example of code to reproduce the problem:

[code]

Response I get from Amazon:

[code]

The issue seems to be that the underlying http client is usin

[2021-11-10 02:24] moltar commented on #466
Hey Deni, thanks for raising this issue.

Would you be able to contribute a fix via PR?

[2021-11-11 01:12] deni-skaraudio opened #468 "Pallet type wrong member"
Hi there,

I am writting to report the following bug on the FBA Inbound Shipment class. The Pallet object has a member called `Dinemsion` but from the MWS documentation (https://docs.developer.amazonservices.com/en_UK/fba_inbound/FBAInbound_Datatypes.html#Pallet) that member is called `Dimensions`.

The error in the `putTransportContent` goes away if one replaces `Dimension` with `Dimensions`.

[2021-11-11 05:04] moltar commented on #468
Thanks, @deni-skaraudio, please open a PR if you can.

[2021-11-19 18:13] deni-skaraudio commented on #466
Hi @moltar am quite overloaded currently, sorry.

[2021-12-15 09:23] armgoja opened #482 "GetTransportContent MWS returning a IN instead inches"
Hi,

I am having the following issue getting transport content information, anyone having the same issue ?

"stack":"ParsingError: Problem with the value of property \"GetTransportContentResponse\": Problem with the value of property \"GetTransportContentResult\": Problem with the value of property \"TransportContent\": Problem with the value of property \"TransportDetails\": Problem with the valu

[2021-12-15 09:25] moltar commented on #482
I moved the issue.

[2021-12-15 09:26] moltar commented on #482
Please open a PR for the fix. See previous recent PRs on how to fix the parser / validator.

[2022-04-04 05:15] #482 closed